*::selection {
  color: white;
  background-color: black;
}

body {
  /*min-width: 1170px !important;*/
  /*background-color: black !important;*/
  /*margin-top: 60px;*/
}

p {
  color: #6c757d!important;
}


@media (max-width: 768px) {
  .video-hero {
    display: none;
  }
  .video-wrapper {
    height: 320px !important;
    min-height: 320px !important;

  }
  .text-on-video {
    top: -280px !important;
  }
  .text-on-video-p {
    width: 100% !important;
    margin-bottom: -50px !important;
    padding-bottom: 20px !important;
  }
}

.video-wrapper {
  height: 285px;
  min-height: 285px;
  max-width: 100%;
  z-index: -100;
  width: 100%;
  overflow: hidden;
}

video#bgvid {
    min-width: 100%;
    width: 100%;
    z-index: -100;
    /*background: url(../video/bg.png) no-repeat;*/
    background-size: cover;
}

ul.no-padding {
  padding-left: 18px;
}

.xenblocks-coin {
  height: 36px;
  padding-right: 5px;
  /*position: relative;*/
  /*left: 14px;*/
}

.anchor {
  display: block;
  height: 71px; /*same height as header*/
  margin-top: -71px; /*same height as header*/
  visibility: hidden;
}

.text-on-video {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  top: -200px;
  color: white;
}

.text-on-video-p {
  position: relative;
  text-align: center;
  color: white;
  width: 80%;
  font-size: 26px;
  margin-left: auto;
  margin-right: auto;
}

.white {
  color: white !important;
}

.primary-color,
a.primary-color:hover,
a.primary-color:active,
a.primary-color:visited
{
  color: #ffce75;
  text-decoration: none;
}

.primary-green,
a.primary-green:hover,
a.primary-green:active,
a.primary-green:visited
{
  color: lime !important;
  text-decoration: none;
}

.container {
    /*width: 1024px !important;*/
}

.margin-t-2em { margin-top: 3em; }
.margin-b-2em { margin-bottom: 3em; }
.padding-t-2em { padding-top: 3em; }
.padding-b-2em { padding-bottom: 3em; }


.dark-bg {
  background-color: #222;
}
.light-bg {
  background-color: #fff;
}

.silver-bg {
  background-color: #ddd;
}

.light-bg {
  color: black;
}

.black-text {
  color: black !important;
}

.green {
  color: green !important;
}
